		ul.socialMenu{
			list-style: none;
			margin: 0 auto;
			width: 10%;
			li {
				width: 50%;
				display: block;
				float: left;
				text-align: center;
			}
			li.twitter {
				padding-top: 6px;
			}
			.change {
				transition: all 0.5s ease;
			}
			a:hover .change{
				fill:white;
			}
		}

		.moydart ul.socialMenu a:hover .change{
			fill:lightgrey;
		}
		
		
	svg.envelope {
		width: 28px;
	}
footer {
	clear: both;
	.container{
		position: fixed;
		bottom: 0px;
		width: 100%;
		background: $colorOne;
		max-width: inherit;
	}
}

a.contact {
	transition: all 0.5s ease;
	
}

a.contact:hover {
	
}

.credits {
	font-size: 10px;
	color: $black;
	position: fixed;
	right: 4px;
	bottom: 2px;
	p {
		margin: 0;
		text-align: right;
	}
	a {
		color: $black;
	}
}
