main.news {
	 column-count: 2;  
     column-gap: 40px;
     margin-left: 25px;
}

section.blog-post {
-webkit-column-break-inside: avoid;
          page-break-inside: avoid;
               break-inside: avoid;
}

.news {
	section{
	 	padding: 18px 18px 29px 18px;
    	border-right: 1px solid lightgrey;
    	border-bottom: 1px solid lightgrey;
	 }
	h4, a{
		font-family: $sans;
	}
	p{
		
		font-family: $serif;
		padding-bottom: 1px;
	}
	h5 {
		text-transform: uppercase;	
	}
}
a {
		color: $colorOne;
}
a.read{
	border: 1px solid $colorOne;
    border-radius: 4px;
    padding: 6px 18px;
    margin-top: 14px;
    font-size: 14px;
    transition: all 0.5s ease;
    
}
a.read:hover {
    background: $colorOne;
	color: white;
}