

div.memberPhoto {
	float: right;
    width: 200px;
    padding: 90px 0 0 46px;
    clear: both;
}
div.memberInfo {
	float: left;
	width: 70%;
}

.teamMember {
	padding-top: 20px;
	padding-bottom: 10px;
}

.teamMember:last-of-type{
	padding-bottom: 50px;
}


div.memberPhoto img{
	filter: grayscale(100%);
	border-radius: 7px;
    border: 1px solid $middle;
}
