.sidebar {
	width: 23%;
	float: left;
	position: fixed;
	top:0;
	bottom: 0;
	background: $colorOne;
	ul {
		margin: 0;
		padding: 0;
		li {
			list-style: none;
		}
	}
	header {
		padding-top: 40px;
	}

	img {
		position: relative;
		width: 150px;
		padding-top: 25px;
		margin: 0 auto;
		display: block;
	}
	h2 {
	    font-size: 18px;
	    line-height: 1.7;
	    top: 90px;
    	width: 42%;
    	left: 30%;
	    text-align: center;
	    letter-spacing: 5px;
	    font-weight: 300;
	    position: absolute;
	    color: #fff;
	    text-transform: uppercase;
	    font-family: "Open Sans Condensed",sans-serif;	
	}
	ul.menu {
	padding: 100px 0px 9px;
		a {
			background: none;	
	    	padding: 10px 35%;
		}
		li {
			display: block;
		    margin: 0;
		    padding: 10px 0;
		    font-family: "Old Standard TT",serif;
		    text-transform: uppercase;
		    text-align: center;
		}
		li, a {
			transition: all 1s ease;
		}
	}
	ul.socialMenu {
		width: 44%;
	}
}

div.sidebar.moydart {
	background: #fff;
	border-right: 1px solid $colorOne;
}

ul#menu-andrew-menu {
	a {
		color: white;
	}
	li {
	    border-bottom: 1px solid #fff;
	}
	li:hover {
    	background: #fff;
	}
	li:hover a{
   		color: $colorOne;
	}
}

ul#menu-moydart-menu {
	li {
	    border-bottom: 1px solid $colorOne;
	    font-family: $sans;
	}
	li:hover {
    	background: $colorOne;
	}
	a {
		color: $colorOne;
	}
	li:hover a{
   		color: #fff;
	}
}

header.goToOtherSide {
	img{
		padding-top: 0px;
		border-radius: 8px;
	}
	width: 78px;
	margin: 80px auto;
	position: relative;
	h2 {
		font-size: 10px;
		top: 55px;
		width: inherit;
		left: 5px;
	}

}
.mobile-menu {
	display: none;
	div.white {
		background: white;
		width: 100%;
		border-top: 1px solid $colorOne;
	}
	div.red {
		background: $colorOne;
		width: 100%;
	}
}


